{
	"defaultTTL": "900",
	"dnsserver": "AD01.hq.example.com",
	"locationzones": [
		{
			"locationzone": "non.azure.example.com",
			"hosts": [
				{
					"prefix": "web-non1",
					"alias": "web-non1.uksouth.cloudapp.azure.com"
				},
				{
					"prefix": "web-non2",
					"alias": "web-non2.uksouth.cloudapp.azure.com"
				}
			]
		},
		{
			"locationzone": "non.hq.example.com",
			"hosts": [
				{
					"prefix": "app-non1",
					"alias": "app-non1.hq.example.com"
				},
				{
					"prefix": "db-non1",
					"alias": "db-non1.hq.example.com"
				},
				{
					"prefix": "elasticsearch-non1",
					"alias": "elasticsearch-non1.hq.example.com"
				},
				{
					"prefix": "rabbit-non1",
					"alias": "rabbit-non1.hq.example.com"
				}
			]
		},
		{
			"locationzone": "prd.azure.example.com",
			"hosts": [
				{
					"prefix": "web-prd1",
					"alias": "web-prd1.uksouth.cloudapp.azure.com"
				},
				{
					"prefix": "web-prd2",
					"alias": "web-prd2.uksouth.cloudapp.azure.com"
				},
				{
					"prefix": "web-prd3",
					"alias": "web-prd3.uksouth.cloudapp.azure.com"
				}
			]
		},
		{
			"locationzone": "prd.hq.example.com",
			"hosts": [
				{
					"prefix": "app-prd1",
					"alias": "app-prd1.hq.example.com"
				},
				{
					"prefix": "app-prd2",
					"alias": "app-prd2.hq.example.com"
				},
				{
					"prefix": "db-prd1",
					"alias": "db-prd1.hq.example.com"
				},
				{
					"prefix": "elasticsearch-prd1",
					"alias": "elasticsearch-prd1.hq.example.com"
				},
				{
					"prefix": "elasticsearch-prd2",
					"alias": "elasticsearch-prd2.hq.example.com"
				},
				{
					"prefix": "rabbit-prd1",
					"alias": "rabbit-prd1.hq.example.com"
				},
				{
					"prefix": "rabbit-prd2",
					"alias": "rabbit-prd2.hq.example.com"
				}
			]
		}
	],
	"internalzones": [
		{
			"internalzone": "internal.example.com",
			"environments": [
				{
					"name": "dev"
				},
				{
					"name": "qa1"
				},
				{
					"name": "qa2"
				},
				{
					"name": "qa3"
				},
				{
					"name": "uat"
				}
			],
			"records": [
				{
					"prefix": "app01",
					"alias": "app-non1.non.hq.example.com"
				},
				{
					"prefix": "mq01",
					"alias": "rabbit-non1.non.hq.example.com"
				},
				{
					"prefix": "es01",
					"alias": "elasticsearch-non1.non.hq.example.com"
				},
				{
					"prefix": "azweb01",
					"alias": "non-web1.non.azure.example.com"
				},
				{
					"prefix": "azweb02",
					"alias": "non-web2.non.azure.example.com"
				},
				{
					"prefix": "db01",
					"alias": "db-non1.non.hq.example.com"
				}
			]
		},
		{
			"internalzone": "internal.example.com",
			"environments": [
				{
					"name": "prd"
				}
			],
			"records": [
				{
					"prefix": "app01",
					"alias": "app-prd1.prd.hq.example.com"
				},
				{
					"prefix": "app02",
					"alias": "app-prd2.prd.hq.example.com"
				},
				{
					"prefix": "mq01",
					"alias": "rabbit-prd1.prd.hq.example.com"
				},
				{
					"prefix": "mq02",
					"alias": "rabbit-prd2.prd.hq.example.com"
				},
				{
					"prefix": "es01",
					"alias": "elasticsearch-prd1.prd.hq.example.com"
				},
				{
					"prefix": "es02",
					"alias": "elasticsearch-prd2.prd.hq.example.com"
				},
				{
					"prefix": "azweb01",
					"alias": "prd-web1.prd.azure.example.com"
				},
				{
					"prefix": "azweb02",
					"alias": "prd-web2.prd.azure.example.com"
				},
				{
					"prefix": "azweb03",
					"alias": "prd-web3.prd.azure.example.com"
				},
				{
					"prefix": "db01",
					"alias": "db-prd1.prd.hq.example.com"
				}
			]
		}
	]
}